FLOW2.py
[{"id":"a6b5668c.d9e868","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dcf462e9.049d5","type":"http in","z":"a6b5668c.d9e868","name":"Set GPIO4","url":"setgpio4","method":"get","upload":false,"swaggerDoc":"","x":260,"y":180,"wires":[["ad5cbeff.84feb","c098bcd.c4cf64"]]},{"id":"ad5cbeff.84feb","type":"function","z":"a6b5668c.d9e868","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["473d2c6d.e453d4"]]},{"id":"473d2c6d.e453d4","type":"rpi-gpio out","z":"a6b5668c.d9e868","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":760,"y":240,"wires":[]},{"id":"c098bcd.c4cf64","type":"function","z":"a6b5668c.d9e868","name":"Return Status","func":"msg.payload=\"GPIO4 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":80,"wires":[["81b71995.858038","74aca9f2.b04df8"]]},{"id":"81b71995.858038","type":"http response","z":"a6b5668c.d9e868","name":"","statusCode":"","headers":{},"x":730,"y":100,"wires":[]},{"id":"74aca9f2.b04df8","type":"debug","z":"a6b5668c.d9e868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":180,"wires":[]},{"id":"90d904cb.f4c368","type":"http in","z":"a6b5668c.d9e868","name":"Clear GPIO4","url":"/clear4","method":"get","upload":false,"swaggerDoc":"","x":270,"y":280,"wires":[["60290509.598b4c","197d25d4.013bba"]]},{"id":"60290509.598b4c","type":"function","z":"a6b5668c.d9e868","name":"Clear to 1","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":380,"wires":[["473d2c6d.e453d4"]]},{"id":"197d25d4.013bba","type":"function","z":"a6b5668c.d9e868","name":"Return Status","func":"msg.payload=\"GPIO4 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":440,"wires":[["81b71995.858038","74aca9f2.b04df8"]]}]
