FLOW1.py
[{"id":"89bc7453.aa3d18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"efedae54.2a3fb","type":"http in","z":"89bc7453.aa3d18","name":"[get] GPIO","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["2dbf94f0.61ac7c"]]},{"id":"58123875.43f648","type":"http response","z":"89bc7453.aa3d18","name":"","statusCode":"","headers":{},"x":530,"y":60,"wires":[]},{"id":"e382c918.c4f798","type":"debug","z":"89bc7453.aa3d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":140,"wires":[]},{"id":"74fb4ebd.ede7f","type":"rpi-gpio in","z":"89bc7453.aa3d18","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":160,"wires":[["adde9f0.074716"]]},{"id":"adde9f0.074716","type":"function","z":"89bc7453.aa3d18","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["e382c918.c4f798"]]},{"id":"2dbf94f0.61ac7c","type":"function","z":"89bc7453.aa3d18","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["58123875.43f648","e382c918.c4f798"]]}]
